*.txt
*.swp
*.pyc
*.cfg
*.out
DIR_SCR
umuisubmit_*
stage_?_submit*
archi_*
archive.todo
umsubmit
FCM_*_CFG*
JOBSHEET
*CNTL*
FCM_*
*INIT*
COMP_SWITCHES
JOBSHED
PRESM_A
RECONA
SCRIPT
SHARED
SIZES
STASHC
USR_*
EXT_SCRIPT_LOG
